body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

header {
  background: #232f3e;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

button {
  padding: 8px 12px;
  margin-top: 10px;
  background: #ff9900;
  border: none;
  cursor: pointer;
}

/* Popup */
.popup {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  border-radius: 6px;
}

button:hover {
  opacity: 0.9;
}

@media(max-width:600px){
  .products {
    grid-template-columns: 1fr;
  }
}
